body, body[theme-mode="dark"] .semi-always-light, :host, :host .semi-always-light {
--semi-black: 0,0,0;
--semi-red-0: 255,245,240;
--semi-red-1: 254,227,214;
--semi-red-2: 253,196,174;
--semi-red-3: 253,163,134;
--semi-red-4: 252,128,94;
--semi-red-5: 251,90,54;
--semi-red-6: 215,66,40;
--semi-red-7: 180,45,28;
--semi-red-8: 144,28,18;
--semi-red-9: 108,15,10;
--semi-white: 255,255,255;
--semi-blue-0: 237,246,255;
--semi-blue-1: 209,232,254;
--semi-blue-2: 162,208,254;
--semi-blue-3: 116,183,253;
--semi-blue-4: 71,156,253;
--semi-blue-5: 25,128,252;
--semi-blue-6: 15,103,216;
--semi-blue-7: 7,80,181;
--semi-blue-8: 1,59,145;
--semi-blue-9: 0,42,109;
--semi-cyan-0: 231,247,248;
--semi-cyan-1: 199,238,241;
--semi-cyan-2: 147,220,227;
--semi-cyan-3: 101,202,212;
--semi-cyan-4: 59,182,198;
--semi-cyan-5: 23,163,184;
--semi-cyan-6: 18,133,153;
--semi-cyan-7: 13,105,123;
--semi-cyan-8: 9,77,92;
--semi-cyan-9: 5,50,61;
--semi-grey-0: 249,249,249;
--semi-grey-1: 230,232,234;
--semi-grey-2: 198,201,205;
--semi-grey-3: 167,170,176;
--semi-grey-4: 136,140,146;
--semi-grey-5: 107,111,117;
--semi-grey-6: 85,90,97;
--semi-grey-7: 65,69,76;
--semi-grey-8: 46,49,56;
--semi-grey-9: 28,31,35;
--semi-lime-0: 242,251,233;
--semi-lime-1: 226,246,202;
--semi-lime-2: 201,237,152;
--semi-lime-3: 180,229,105;
--semi-lime-4: 163,220,61;
--semi-lime-5: 149,211,21;
--semi-lime-6: 121,176,16;
--semi-lime-7: 94,141,11;
--semi-lime-8: 69,105,7;
--semi-lime-9: 44,70,4;
--semi-pink-0: 253,238,239;
--semi-pink-1: 251,212,215;
--semi-pink-2: 247,170,179;
--semi-pink-3: 243,129,147;
--semi-pink-4: 239,89,118;
--semi-pink-5: 235,51,92;
--semi-pink-6: 199,37,79;
--semi-pink-7: 164,26,66;
--semi-pink-8: 128,16,52;
--semi-pink-9: 92,9,39;
--semi-teal-0: 230,247,247;
--semi-teal-1: 197,240,238;
--semi-teal-2: 144,225,223;
--semi-teal-3: 96,209,208;
--semi-teal-4: 54,193,194;
--semi-teal-5: 18,175,179;
--semi-teal-6: 14,144,149;
--semi-teal-7: 10,113,119;
--semi-teal-8: 6,83,90;
--semi-teal-9: 4,55,60;
--semi-amber-0: 254,253,238;
--semi-amber-1: 252,250,211;
--semi-amber-2: 250,242,167;
--semi-amber-3: 247,231,125;
--semi-amber-4: 245,218,83;
--semi-amber-5: 242,202,42;
--semi-amber-6: 202,171,33;
--semi-amber-7: 161,139,25;
--semi-amber-8: 121,105,17;
--semi-amber-9: 81,71,11;
--semi-brand-0: 240,247,255;
--semi-brand-1: 214,233,255;
--semi-brand-2: 173,209,255;
--semi-brand-3: 133,183,255;
--semi-brand-4: 92,157,255;
--semi-brand-5: 51,129,255;
--semi-brand-6: 37,104,219;
--semi-brand-7: 26,81,184;
--semi-brand-8: 16,60,148;
--semi-brand-9: 9,42,112;
--semi-green-0: 236,247,237;
--semi-green-1: 208,240,212;
--semi-green-2: 166,225,174;
--semi-green-3: 127,209,140;
--semi-green-4: 93,194,110;
--semi-green-5: 62,179,84;
--semi-green-6: 50,149,70;
--semi-green-7: 39,119,57;
--semi-green-8: 28,90,43;
--semi-green-9: 18,60,29;
--semi-indigo-0: 237,239,248;
--semi-indigo-1: 209,215,241;
--semi-indigo-2: 167,177,226;
--semi-indigo-3: 129,141,212;
--semi-indigo-4: 95,108,197;
--semi-indigo-5: 64,77,183;
--semi-indigo-6: 52,62,163;
--semi-indigo-7: 41,49,142;
--semi-indigo-8: 32,37,122;
--semi-indigo-9: 23,27,101;
--semi-orange-0: 255,251,237;
--semi-orange-1: 255,243,209;
--semi-orange-2: 255,227,163;
--semi-orange-3: 255,209,117;
--semi-orange-4: 255,188,71;
--semi-orange-5: 255,163,25;
--semi-orange-6: 213,125,19;
--semi-orange-7: 170,92,13;
--semi-orange-8: 128,62,9;
--semi-orange-9: 85,37,5;
--semi-purple-0: 247,235,246;
--semi-purple-1: 240,206,238;
--semi-purple-2: 225,161,223;
--semi-purple-3: 209,121,209;
--semi-purple-4: 190,85,194;
--semi-purple-5: 170,53,179;
--semi-purple-6: 146,42,159;
--semi-purple-7: 124,33,138;
--semi-purple-8: 102,24,118;
--semi-purple-9: 81,17,97;
--semi-violet-0: 245,238,250;
--semi-violet-1: 230,212,244;
--semi-violet-2: 204,173,233;
--semi-violet-3: 177,136,223;
--semi-violet-4: 151,101,212;
--semi-violet-5: 124,70,201;
--semi-violet-6: 104,57,181;
--semi-violet-7: 86,46,160;
--semi-violet-8: 68,36,140;
--semi-violet-9: 53,27,119;
--semi-yellow-0: 255,254,237;
--semi-yellow-1: 254,252,209;
--semi-yellow-2: 254,246,162;
--semi-yellow-3: 253,237,116;
--semi-yellow-4: 253,225,71;
--semi-yellow-5: 252,210,25;
--semi-yellow-6: 210,178,19;
--semi-yellow-7: 168,145,13;
--semi-yellow-8: 126,110,9;
--semi-yellow-9: 84,75,5;
--semi-light-blue-0: 236,248,254;
--semi-light-blue-1: 207,236,252;
--semi-light-blue-2: 159,217,249;
--semi-light-blue-3: 113,196,246;
--semi-light-blue-4: 68,174,243;
--semi-light-blue-5: 24,151,240;
--semi-light-blue-6: 14,123,204;
--semi-light-blue-7: 7,97,169;
--semi-light-blue-8: 1,72,133;
--semi-light-blue-9: 0,51,97;
--semi-light-green-0: 243,248,237;
--semi-light-green-1: 227,241,209;
--semi-light-green-2: 199,227,167;
--semi-light-green-3: 172,212,129;
--semi-light-green-4: 146,198,95;
--semi-light-green-5: 122,184,64;
--semi-light-green-6: 99,153,52;
--semi-light-green-7: 77,123,40;
--semi-light-green-8: 56,92,29;
--semi-light-green-9: 37,61,19;


}
body[theme-mode="dark"], body .semi-always-dark, :host([theme-mode="dark"]), :host .semi-always-dark {
--semi-black: 0,0,0;
--semi-red-0: 108,15,10;
--semi-red-1: 144,28,18;
--semi-red-2: 180,45,28;
--semi-red-3: 215,66,40;
--semi-red-4: 251,90,54;
--semi-red-5: 252,128,94;
--semi-red-6: 253,163,134;
--semi-red-7: 253,196,174;
--semi-red-8: 254,227,214;
--semi-red-9: 255,245,240;
--semi-white: 255,255,255;
--semi-blue-0: 0,42,109;
--semi-blue-1: 1,59,145;
--semi-blue-2: 7,80,181;
--semi-blue-3: 15,103,216;
--semi-blue-4: 25,128,252;
--semi-blue-5: 71,156,253;
--semi-blue-6: 116,183,253;
--semi-blue-7: 162,208,254;
--semi-blue-8: 209,232,254;
--semi-blue-9: 237,246,255;
--semi-cyan-0: 5,50,61;
--semi-cyan-1: 9,77,92;
--semi-cyan-2: 13,105,123;
--semi-cyan-3: 18,133,153;
--semi-cyan-4: 23,163,184;
--semi-cyan-5: 59,182,198;
--semi-cyan-6: 101,202,212;
--semi-cyan-7: 147,220,227;
--semi-cyan-8: 199,238,241;
--semi-cyan-9: 231,247,248;
--semi-grey-0: 28,31,35;
--semi-grey-1: 46,49,56;
--semi-grey-2: 65,69,76;
--semi-grey-3: 85,90,97;
--semi-grey-4: 107,111,117;
--semi-grey-5: 136,140,146;
--semi-grey-6: 167,170,176;
--semi-grey-7: 198,201,205;
--semi-grey-8: 230,232,234;
--semi-grey-9: 249,249,249;
--semi-lime-0: 44,70,4;
--semi-lime-1: 69,105,7;
--semi-lime-2: 94,141,11;
--semi-lime-3: 121,176,16;
--semi-lime-4: 149,211,21;
--semi-lime-5: 163,220,61;
--semi-lime-6: 180,229,105;
--semi-lime-7: 201,237,152;
--semi-lime-8: 226,246,202;
--semi-lime-9: 242,251,233;
--semi-pink-0: 92,9,39;
--semi-pink-1: 128,16,52;
--semi-pink-2: 164,26,66;
--semi-pink-3: 199,37,79;
--semi-pink-4: 235,51,92;
--semi-pink-5: 239,89,118;
--semi-pink-6: 243,129,147;
--semi-pink-7: 247,170,179;
--semi-pink-8: 251,212,215;
--semi-pink-9: 253,238,239;
--semi-teal-0: 4,55,60;
--semi-teal-1: 6,83,90;
--semi-teal-2: 10,113,119;
--semi-teal-3: 14,144,149;
--semi-teal-4: 18,175,179;
--semi-teal-5: 54,193,194;
--semi-teal-6: 96,209,208;
--semi-teal-7: 144,225,223;
--semi-teal-8: 197,240,238;
--semi-teal-9: 230,247,247;
--semi-amber-0: 81,71,11;
--semi-amber-1: 121,105,17;
--semi-amber-2: 161,139,25;
--semi-amber-3: 202,171,33;
--semi-amber-4: 242,202,42;
--semi-amber-5: 245,218,83;
--semi-amber-6: 247,231,125;
--semi-amber-7: 250,242,167;
--semi-amber-8: 252,250,211;
--semi-amber-9: 254,253,238;
--semi-brand-0: 9,42,112;
--semi-brand-1: 16,60,148;
--semi-brand-2: 26,81,184;
--semi-brand-3: 37,104,219;
--semi-brand-4: 51,129,255;
--semi-brand-5: 92,157,255;
--semi-brand-6: 133,183,255;
--semi-brand-7: 173,209,255;
--semi-brand-8: 214,233,255;
--semi-brand-9: 240,247,255;
--semi-green-0: 18,60,29;
--semi-green-1: 28,90,43;
--semi-green-2: 39,119,57;
--semi-green-3: 50,149,70;
--semi-green-4: 62,179,84;
--semi-green-5: 93,194,110;
--semi-green-6: 127,209,140;
--semi-green-7: 166,225,174;
--semi-green-8: 208,240,212;
--semi-green-9: 236,247,237;
--semi-indigo-0: 23,27,101;
--semi-indigo-1: 32,37,122;
--semi-indigo-2: 41,49,142;
--semi-indigo-3: 52,62,163;
--semi-indigo-4: 64,77,183;
--semi-indigo-5: 95,108,197;
--semi-indigo-6: 129,141,212;
--semi-indigo-7: 167,177,226;
--semi-indigo-8: 209,215,241;
--semi-indigo-9: 237,239,248;
--semi-orange-0: 85,37,5;
--semi-orange-1: 128,62,9;
--semi-orange-2: 170,92,13;
--semi-orange-3: 213,125,19;
--semi-orange-4: 255,163,25;
--semi-orange-5: 255,188,71;
--semi-orange-6: 255,209,117;
--semi-orange-7: 255,227,163;
--semi-orange-8: 255,243,209;
--semi-orange-9: 255,251,237;
--semi-purple-0: 81,17,97;
--semi-purple-1: 102,24,118;
--semi-purple-2: 124,33,138;
--semi-purple-3: 146,42,159;
--semi-purple-4: 170,53,179;
--semi-purple-5: 190,85,194;
--semi-purple-6: 209,121,209;
--semi-purple-7: 225,161,223;
--semi-purple-8: 240,206,238;
--semi-purple-9: 247,235,246;
--semi-violet-0: 53,27,119;
--semi-violet-1: 68,36,140;
--semi-violet-2: 86,46,160;
--semi-violet-3: 104,57,181;
--semi-violet-4: 124,70,201;
--semi-violet-5: 151,101,212;
--semi-violet-6: 177,136,223;
--semi-violet-7: 204,173,233;
--semi-violet-8: 230,212,244;
--semi-violet-9: 245,238,250;
--semi-yellow-0: 84,75,5;
--semi-yellow-1: 126,110,9;
--semi-yellow-2: 168,145,13;
--semi-yellow-3: 210,178,19;
--semi-yellow-4: 252,210,25;
--semi-yellow-5: 253,225,71;
--semi-yellow-6: 253,237,116;
--semi-yellow-7: 254,246,162;
--semi-yellow-8: 254,252,209;
--semi-yellow-9: 255,254,237;
--semi-light-blue-0: 0,51,97;
--semi-light-blue-1: 1,72,133;
--semi-light-blue-2: 7,97,169;
--semi-light-blue-3: 14,123,204;
--semi-light-blue-4: 24,151,240;
--semi-light-blue-5: 68,174,243;
--semi-light-blue-6: 113,196,246;
--semi-light-blue-7: 159,217,249;
--semi-light-blue-8: 207,236,252;
--semi-light-blue-9: 236,248,254;
--semi-light-green-0: 37,61,19;
--semi-light-green-1: 56,92,29;
--semi-light-green-2: 77,123,40;
--semi-light-green-3: 99,153,52;
--semi-light-green-4: 122,184,64;
--semi-light-green-5: 146,198,95;
--semi-light-green-6: 172,212,129;
--semi-light-green-7: 199,227,167;
--semi-light-green-8: 227,241,209;
--semi-light-green-9: 243,248,237;


}
